<h2>Topic List</h2>

<%#= sort_link(@q, :create_at, 'Create At', default_order: :desc) %>
<%#= sort_link(@q, :comment_count, 'Comments', default_order: :desc) %>

<% Category.all.each do |c| %>
  <%= link_to c.name, topics_path( :cid => c.id ) %>
<% end %>
<%= link_to "All", topics_path %>

<table>
  <tr>
    <th>Topic</th>
    <th>Category</th>
    <th>Author</th>
    <th>Comments</th>
  </tr>
  <% @topics.each do |t| %>
  <tr>
    <td><%= link_to t.title, topic_path(t) %></td>
    <td><%= t.categories.map{ |c| c.name }.join(", ") %></td>
    <td>
      <%= t.user.try(:display_name) %>
    </td>
    <td><%= t.comments_count %></td>
  </tr>
  <% end %>
</table>
<%= paginate @topics %>